<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<p>Уважаемый клиент! Напоминаем, у вас задолженность за услуги связи перед ООО "Цифровой Диалог-Т".</p>
<p>Во избежание отключения просим произвести оплату.</p>
<p>Спасибо! </p>
---<br>
<%= image_tag attachments['di-di.png'].url %><br>
С уважением,<br>
Отдела продаж<br>
т.: +7 (863) 308-9-308, доб.: 503<br>
<a href=emailto:b2b@di-di.ru>b2b@di-di.ru</a><br>
ООО "Цифровой Диалог-Т"<br>
344018 Ростов-на-Дону, пер. Доломановский, 130<br>
 <p>
<a href=http://www.di-di.ru>www.di-di.ru</a>
</body></html>
