<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
&nbsp;&nbsp;&nbsp;&nbsp;Уважаемые клиенты!<br>
&nbsp;&nbsp;Компания "Цифровой Диалог-Т" предоставляет качественные услуги связи на уровне мировых стандартов для наших клиентов.<br>
Но прогресс - дело постоянное! Мы модернизируем нашу сеть и запускаем новые мощные узлы связи.<br>
    Предоставляемый Вам сервис Интернет мы планируем перенести на более мощное оборудование 15.12.2015 в  21:00.<br>
Это пройдёт с минимальным для Вас перерывом связи, только если Вы заранее включите автоматическое получение сетевых настроек от нашего маршрутизатора (DHCP).<br>
 Или Ваш системный администратор свяжется с нами. Круглосуточный телефон 308-9-911.<br>
 <b>Важно, что по протоколу DHCP клиент получит тот же IP, который был за ним закреплен.</b><br>
 Если по каким то причинам не получается включить DHCP, то вы можете самостоятельно перенастроить соединение, изменив маску <b>255.255.255.0</b> и шлюз <b>212.192.202.1</b><br>
В результате модернизации вы получите ещё более надежный сервис с автоматическим резервированием.<br>
В письмо приложена инструкция: "ИНСТРУКЦИЯ НАСТРОЙКИ DHСP-КЛИЕНТА"<br>
&nbsp;&nbsp;&nbsp;&nbsp;Спасибо за доверие и уделённое время<br>
ПЕРСОНАЛЬНЫЙ ОПЕРАТОР СВЯЗИ ДЛЯ ВАШЕГО БИЗНЕСА<br>
<br>

<%= image_tag attachments['support2.jpg'].url, size: "687x486" %><br>
---<br>
<%= image_tag attachments['di-di.png'].url %><br>
С уважением,<br>
Отдела технической поддержки<br>
т.: +7 (863) 308-99-11<br>
<a href=emailto:support@di-di.ru>support@di-di.ru</a><br>
ООО "Цифровой Диалог-Т"<br>
344018 Ростов-на-Дону, пер. Доломановский, 130<br>
 <p>
<a href=http://www.di-di.ru>www.di-di.ru</a>
</body></html>
