BODY
{
    background		: #FFFFFF;
    font-family		: verdana;
    font-size		: 10pt;
    margin-top                  : 10px;
    margin-left                 : 10px;
    scrollbar-face-color        : #6B8CBE;
    scrollbar-highlight-color   : #F5F5F5;
    scrollbar-arrow-color       : #F5F5F5;
    scrollbar-darkshadow-color  : #041D45;
}
TD.message
{
    color		: #000000;
    background		: #FFFFFF;
    font-family         : verdana;
    font-size           : 12pt;
    font-weight         : bold;
}
TD.main
{
    background		: #FFFFFF;
    font-family         : verdana;
    font-size           : 10pt;
}
TD.desc
{
    background          : #FFFFFF;
    font-family         : verdana;
    font-size           : 10pt;
    font-weight         : bold;
}
TD.small
{
    background		: #FFFFFF;
    font-family         : verdana;
    font-size           : 8pt;
}
INPUT
{
    font-family		: verdana;
    font-size		: 10pt;
}
OPTION
{
    font-family         : verdana;
    font-size           : 10pt;
}

TD.blue{ background-color: #3066D2; height: 10px;width: 9px; }
.grey{ background-color: #E5E5E5; height: 9px; width: 9px; }
TD.logobg{ background-color: #D7D7D7; }
TD.menubg{ background-color: #6C6C6C; height: 10px;width: 9px; }
.add{ background-color: #AAAAAA; font-weight:bold; text-decoration:none }
.ntext { FONT-SIZE: 8pt; COLOR: rgb(55,55,55); FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION : none }
.grey1{ background-color: #E5E5E5; height: 18px; width: 9px; BORDER-BOTTOM: #0064A0 0px solid; BORDER-LEFT: white 5px solid; BORDER-RIGHT: #0064A0 0px solid; BORDER-TOP: #0064A0 0px solid; }
.blue1{ background-color: #3066D2; height: 19px;width: 9px; BORDER-BOTTOM: #0064A0 0px solid; BORDER-LEFT: white 5px solid; BORDER-RIGHT: #0064A0 0px solid; BORDER-TOP: #0064A0 0px solid; }
.blue2{ background-color: #3066D2; color: white; font-weight:bold; text-decoration:none; font-face:verdana; font-size:10pt; }
.bold_white{ color: white; font-weight:bold; text-decoration:none; font-face:verdana; font-size:8pt;}
a:visited.bold_white{ color: white; font-weight:bold; text-decoration:none; font-face:verdana; font-size:8pt;}
.bar_black{ color: black; font-weight:bold; text-decoration:none; font-face:verdana; font-size:8pt;}
a.bold_stat{ color: red; font-weight:bold;}
a:visited.bold_stat{ color: red; font-weight:bold;}
a.nor_stat{ color: white; }
a:visited.nor_stat{ color: white; }
.hclist{ font-size:8pt; font-face:verdana; background-color: #AAAAAA}
.hblist{ font-size:8pt; font-face:verdana; font-weight:bold; background-color: #AAAAAA; text-align:center;}
.blist{ font-size:8pt; font-face:verdana; font-weight:bold; background-color: #8CC2F7}
.sclist{ font-size:7pt; font-face:verdana; background-color: #FFFFFF; color: black;}
.reedlist{ font-size:7pt; font-face:verdana; background-color: #FA5882; color: black;}

A:link.ppolink, A:visited.ppolink {color: black;}
A:hover.ppolink {color: white;}

.sclistm{ font-size:6pt; font-face:verdana; background-color: #FFFFFF}
.dclist{ font-size:7pt; font-face:verdana; background-color: #F6F5F2; color: black;}
.dclistm{ font-size:6pt; font-face:verdana; background-color: #F6F5F2}
.grlist{ font-size:6pt; font-face:verdana; background-color: #2e8b57; align: center;}
.yellowlist{ font-size:7pt; font-face:verdana; background-color: yellow}
.endtd{ font-size:7pt; font-face:verdana; background-color: #cadaba}
.redlist{ font-size:7pt; font-face:verdana; background-color: red; align: center;}
.bclist{ font-size:10pt; font-face:verdana; background-color: #CCFFFF}
.hdlist{ font-size:8pt; font-face:verdana; background-color: #AAAAAA}
.sdlist{ font-size:8pt; font-face:verdana; background-color: #DDDDDD}
.hlist{ font-size:10pt; font-face:verdana}
.slist{ font-size:8pt; font-face:verdana}
.relist{ font-size:7pt; font-face:verdana; background-color: white}
.td7{ font-size:7pt; font-face:verdana;}
.z1{ font-size:10pt; }

.wtask{ background-color: #FFFFFF}
.gtask{ background-color: #faf0e6}


TABLE.tab3 {
    width: 70%; 
    border-collapse: collapse;
    font-size:10pt;
    align: left;
    border:1px solid #000;
   }
.tab3_td_red {
   background: red; font-size:10pt;
  }
.tab3_td_green {
   background: #0f0; font-size:10pt;
  }
.tab3_td_white {
   background: white; font-size:10pt;
  }
.tab3_td_yellow {
   background: yellow; font-size:10pt;
  }


.viewtask {margin-top:10px;margin-left:10px;margin-bottom:10px;margin-right:0px;padding:0px; background-color:#fff5ee; width: 50%; float:left;}
.listmesg {float:left; margin:10px; padding:0px; background-color:#cadaba;}
.tasklist {float:left; margin:10px;padding:0px; width: 72%;}
TABLE.tab1 {
    width: 100%;
    border-collapse: collapse;
    font-size:10pt;
    background-color:#fff5ee;
   }
TABLE.tab1 TD {
    border-bottom:1px solid #ebdda7;
    padding: 7px;
  }
.tab1_td1 {
    font-weight:bold;
  }
.tab1_td_red {
   background: url(/img/red-bg.png) no-repeat;
  }
.tab1_td_green {
   background: url(/img/green-bg.png) no-repeat;
  }
.tab1_td_white {
   background: url(/img/white-bg.png) no-repeat;
  }
.tab1_td_yellow {
   background: url(/img/yellow-bg.png) no-repeat;
  }

.rbutton { margin-left:3px; margin-top:0px; margin-bottom: 10px; padding: 5px; background-color:#e6e3d9; width:35;}
#divattache {margin-left:10px; background:#f2e8c9;}
.upload-form {margin-left:10px; background:#f2e8c9; padding:10px;}
.list_ol {margin: 5px;}

A.current {  
  padding-right: 12px;  
  background-repeat: no-repeat;  
  background-position: right center;  
}  
A.asc {   
  background-image: url(/images/down_arrow.png);   
}  
  
A.desc {
  font-size:7pt;   
  background-image: url(/images/up_arrow.png);   
}  

.row {
width: 100%;
margin-left: auto;
margin-right: auto;
margin-top: 0;
margin-bottom: 0;
max-width: 90%;
}

.columns {
position: relative;
padding-left: 0.9375em;
padding-right: 0.9375em;
float: left;
}

.topborder {
  border-top: 1px solid #cadaba;
}




.jinn_page {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.jinn_page-blured {
    text-shadow: 0 0 8px black;
    color: transparent;
    color: inherit\9;
    filter: progid:DXImageTransform.Microsoft.MotionBlur(Strength=8, Direction=45), progid:DXImageTransform.Microsoft.MotionBlur(Strength=8, Direction=225);
}
.jinn_popup {
    position:       fixed;
    left:           10%;
    top:            10%;
    right:          10%;
    bottom:         10%;
    z-index:        1;
    text-align:     center;
    vertical-align: middle;
    white-space:    nowrap;
    font:           0/0;
    box-sizing:     border-box;
    -moz-box-sizing:border-box;
}

.jinn_popup ~ .jinn_popup {
    margin: 3em -1em -1em 1em;
}

.jinn_popup ~ .jinn_popup ~ .jinn_popup {
    margin: 6em -2em -2em 2em;
}

.jinn_popup-card {
    display:        block;
    position:       absolute;
    top: 0;
    z-index:        1;
    vertical-align: top;
    border:         1px solid #bbb;
    border-radius:  2px;
    white-space:    normal;
    background:     white;
    min-width:      3em;
    min-height:     3em;
    text-align:     left;
    max-height:     100%;
    overflow:       hidden;
    font:           12px/1.2 'Verdana', sans-serif;
    box-shadow: 1px 1px 6px #aaa;
}

.jinn_popup-head {
    overflow: auto;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.jinn_popup-body {
    overflow: auto;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.jinn_popup-foot {
    overflow: auto;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.jinn_popup-maximize {
    position: fixed;
    display: block;
    left: 5%;
    right: 5%;
    top: 7%;
    bottom: 7%;
}

.jinn_popup-blur {
    content:    '';
    position:   fixed;
    left:       0;
    right:      0;
    top:        0;
    bottom:     0;
    background: rgba( 200, 200, 200, .5 );
    z-index:    0;
}

.jinn_popup:before {
    content:    '';
    display:    inline-block;
    height:     50%;
    vertical-align: text-bottom;
}

.jinn_popup-escape {
    display:             block;
    position:            absolute;
    cursor:              pointer;
    z-index:             1;
    right:               5px;
    margin-top:          0px;
    opacity:             .5;
}

.jinn_popup-escape:hover {
    opacity: 1;
}

.divred {
  margin: 0 0 0 0; 
  padding: 0 0 0 0;
  background-color: #FF1919;
  display: inline;
}
.divwhite {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: inline;
  }
