<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
<Styles>
  <Style ss:ID="bb">
   <Font ss:Bold="1"/>
  </Style>
  <Style ss:ID="red">
   <Interior ss:Color="#C00000" ss:Pattern="Solid"/>
  </Style>
</Styles>

  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:StyleID="bb"><Data ss:Type="String">Месяц</Data></Cell>
        <Cell ss:StyleID="bb"><Data ss:Type="String">Клиент</Data></Cell>
        <Cell ss:StyleID="bb"><Data ss:Type="String">Причина</Data></Cell>
        <Cell ss:StyleID="bb"><Data ss:Type="String">Кол-во</Data></Cell>
      </Row>
    <% @ttmsreps.each do |ttm| %>
      <Row>
        <Cell><Data ss:Type="String"><%= ttm.mon %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ttm.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ttm.root %></Data></Cell>
        <Cell><Data ss:Type="String"><%= ttm.cc %></Data></Cell>
       </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
